# Les listes 
Modifiables après création.

In [156]:
list=[1,2,8]
list

[1, 2, 8]

La méthode append

In [86]:
list.append('Diana')
list

[1, 2, 8, 'Diana']

La méthode insert
Attention! N'oublions pas que nous appliquons les méthodes à notre liste initiale et non la liste appendée.

In [105]:
list.insert(2,"TOTIN")  # 8 était à la position 2
list

[1, 2, 'TOTIN', 8]

La méthode extend: permet la concaténation des listes. Elle est la même chose que + dans la concaténation des str,, ou encore += .

In [157]:
list1=[12,18,13]

In [120]:
list. extend(list1)
list

[1, 2, 8, 12, 18, 13]

In [122]:
list +list1
list

[1, 2, 8, 12, 18, 13]

In [131]:
list += list1
list

[1, 2, 8, 12, 18, 13]

On peut aussi supprimer des éléments de la liste grâce à la # méthode x.remove qui prend en paramètre non pas l'indice de l'élément, contrairement à la méthode del
à supprimer, mais l'élément lui-même

In [140]:
del list1[1]
list1

[12, 13]

In [142]:
del list[0]
list

[2, 8]

In [152]:
list1.remove(14)
list1

ValueError: list.remove(x): x not in list

In [153]:
list1.remove(12)
list1

[18, 13]

In [158]:
 list2= list+list1
 list2

[1, 2, 8, 12, 18, 13]

La fonction enumerate

In [166]:
for elt in list2:
    print(elt)

1
2
8
12
18
13

 La fonction enumerate a besoin de l'élement et de son indice dans la liste afin de la récupérer. Voilà pour quoi nous avons:
 # for elt in enumerate 
 qui affiche l'indice et l'élément. Donc (a,b)=(indice, élément)

In [171]:
for elt in enumerate(list2):
    print(elt)

(0, 1)
(1, 2)
(2, 8)
(3, 12)
(4, 18)
(5, 13)

In [178]:
for i , elt in enumerate (list2):
    print("à l'indice {} se trouve{}.".format(i, elt))

à l'indice 0 se trouve1.
à l'indice 1 se trouve2.
à l'indice 2 se trouve8.
à l'indice 3 se trouve12.
à l'indice 4 se trouve18.
à l'indice 5 se trouve13.

In [177]:
for  elt in enumerate (list2):
    print("à l'indice {} se trouve{}.".format(i, elt))

à l'indice 5 se trouve(0, 1).
à l'indice 5 se trouve(1, 2).
à l'indice 5 se trouve(2, 8).
à l'indice 5 se trouve(3, 12).
à l'indice 5 se trouve(4, 18).
à l'indice 5 se trouve(5, 13).

 NB: Observons attentivement les différences.

In [175]:
for a , b in enumerate (list2):
    print("à l'indice {} se trouve{}.".format(a, b))

à l'indice 0 se trouve1.
à l'indice 1 se trouve2.
à l'indice 2 se trouve8.
à l'indice 3 se trouve12.
à l'indice 4 se trouve18.
à l'indice 5 se trouve13.

In [176]:
for a , b in enumerate (list2):
    print(" se trouve{} à l'indice {}.".format(b, a))

 se trouve1 à l'indice 0.
 se trouve2 à l'indice 1.
 se trouve8 à l'indice 2.
 se trouve12 à l'indice 3.
 se trouve18 à l'indice 4.
 se trouve13 à l'indice 5.

Quand on parcourt chaque élément de l'objet renvoyé par enumerate, on voit des tuples qui contiennent deux éléments :d'abord l'indice, puis l'objet se trouvant à cet indice dans la liste passée en argument à la fonction enumerate.

# Les tuples
Ne sont plus modifiables une fois qu'ils aient été créé

La méthode  x.upper() & x.lower()

In [64]:
name="Diana duPont"
name.upper()

'DIANA DUPONT'

In [65]:
name.lower()

'diana dupont'

NB: La méthode append ne fonctionne pas avec les str. Il faut donc une concatenation entre les chaînes de caractères

In [68]:
name +  " a 18ans"

'Diana duPont a 18ans'

Remplacement d'élément par une autre valeur.

In [39]:
mot='God'
mot= 'Go'+ mot[0:]
mot

'GoGod'

In [40]:
mot='God'
mot= 'Go '+ mot[0:]
mot

'Go God'

In [41]:
mot='God'
mot= 'Go'+ mot[1:]
mot

'Good'