# Transformation des chaînes de caractères en listes: La méthode split

In [3]:
list4= "Good morning class 120"
list4

'Good morning class 120'

In [7]:
list4.split(" ")

['Good', 'morning', 'class', '120']

 Cela revient au même , car la méthode split a une fonctionnalité possède un paramètre par défaut, un code qui représente les espaces, les tabulations et les sauts de ligne.

In [8]:
list4.split()

['Good', 'morning', 'class', '120']

# Transformation de listes en chaînes de caractères: la méthode join

In [17]:
list5=["bonjour", '132', "Anna"]
list5

['bonjour', '132', 'Anna']

In [19]:
" ".join(list5)

'bonjour 132 Anna'

In [20]:
list6=[12,45,20]
list6

[12, 45, 20]

In [21]:
" ".join(list6)

TypeError: sequence item 0: expected str instance, int found

NB: Nous comprenons alors que la méthode join, peermet de transformer une lisste de chaîne de caractères en strings.
 Et non une list des int ou float.

In [42]:
list7=[1,2,3,4,5]

In [38]:
print(list7)

[1, 2, 3, 4, 5]

In [28]:
print(*list7)

1 2 3 4 5

In [33]:
nb *nb for nb in list7

SyntaxError: invalid syntax (2663857073.py, line 1)

Pour respecter le for il faut ettre la condition en [ ] car on veut réafir sur une liste qui donnera une autre liste
c'est une autre utilisation de for.

In [43]:
[nb *nb for nb in list7]

[1, 4, 9, 16, 25]

In [41]:
[nb for nb in list7 if nb%2==0]

[2, 4]

# Les dictionnaires

# Les parenthèses délimitent les tuples, les crochets délimitent les listes et les accolades {} délimitent les dictionnaires.

In [2]:
dico={"name": "Jean dupont", "age": 14,"sex": "M", "level": "Graduated"}
dico

{'name': 'Jean dupont', 'age': 14, 'sex': 'M', 'level': 'Graduated'}

In [81]:
del dico["name"]

In [82]:
dico

{'age': 14, 'sex': 'M', 'level': 'Graduated'}

In [83]:
dico.pop("sex")

'M'

In [84]:
dico

{'age': 14, 'level': 'Graduated'}

les méthodes x.pop()  &  le mot-clé del, permettent de supprimer des éléments d'un dictioonaire. La méthode x.pop de dict permet de supprimer un élément mais renvoie d'abord cet élément

In [87]:
for key in dico:
    print(key)

name
age
sex
level

 # La méthode x.keys() 
     &
 # x.values()

In [5]:
for key in dico.keys():
    print(key)

name
age
sex
level

In [8]:
for values in dico.values():
    print(values)

Jean dupont
14
M
Graduated

In [8]:
for keys, values in enumerate(dico):
    print("for {} we have {}". format (keys,values))

for 0 we have name
for 1 we have age
for 2 we have sex
for 3 we have level

NB: on ne peut pas utiliser enumerate pour un dict, car enumarate donne l'indice et sa valeur. D'où ne considère pas les valeurs.

# Pour réaliser ce qui préccede avec les dictionnaires, on utilise la méthode  x. items() pour parcourit les couples clé-valeur)

In [14]:
for keys, values in  dico.items() :
    print("the key {} have the value {}". format (keys,values))

the key name have the value Jean dupont
the key age have the value 14
the key sex have the value M
the key level have the value Graduated

In [3]:
dict(dico)

{'name': 'Jean dupont', 'age': 14, 'sex': 'M', 'level': 'Graduated'}

# On peut complèter un dictionnaire.

In [4]:
dico["size"]=[1,60]
dico

{'name': 'Jean dupont',
 'age': 14,
 'sex': 'M',
 'level': 'Graduated',
 'size': [1, 60]}