# La méthode format

In [ ]:
name='Cup Jean'

In [17]:
age=21

In [18]:
school= "Good Students"

In [26]:
print ("My name is {0},i'm {1} old and I'm studing at {2}.".format (name,age,school) )

My name is Cup Jean,i'm 21 old and I'm studing at Good Students.

In [50]:
Date='Samedi 22 nov 1998'
heure="22:12"

NB: Il faut respecter les écriture. Sans quoi python ne reconnait pas le travail.
Date et non date dans ce cas

In [51]:
print("Cela s'était déroulé le {}, à {}.".format(Date,heure))

Cela s'était déroulé le Samedi 22 nov 1998, à 22:12.

Il n'est pas possible de concatener deux variables de différentes natures avec Python. Pour ce fait il faut str(int/flot) afin de rendre l'int ou flot un string pour concatener des strings.
On appelle str pour convertir un objet en une chaîne de caractères, comme nous avons appelé int pour convertir un objet en
entier.(Voir My_python01)

In [58]:
age=12
message="J'ai déjà "
print(message + str (age))

J'ai déjà 12