# Permuations des valeurs

In [1]:
a=2
b=3
a,b=b,a

In [2]:
a

3

In [3]:
b

2

In [6]:
x=y=9
x

9

In [7]:
y

9

# La fonction type

In [8]:
type(12)

int

In [9]:
type(1.2)

float

In [10]:
type("bonjour")

str

# Affectation de valeurs

In [12]:
a=2
b=3+a
print ("a="," b=")

a=  b=

In [13]:
a=2
b=3+a
print ("a=",a," b=",b)

a= 2  b= 5

In [18]:
a=2
b=3+a
print ("a=", b," b=",a)

a= 5  b= 2

# Utilisation des triples guillemets ou des triples apostrophes: """==\n , 
Et symbolisent les retours à la ligne au moyen de \n.

In [22]:
chaine1="""bonjour à tous ...il est important...de m'écouter"""
chaine1

"bonjour à tous ...il est important...de m'écouter"

In [23]:
chaine1="""bonjour à tous 
 il est important
 de m'écouter"""
chaine1

"bonjour à tous \n il est important\n de m'écouter"

In [25]:
chaine1='''bonjour à tous 
...il est important
...de m'écouter'''
chaine1

"bonjour à tous \n...il est important\n...de m'écouter"

# Exercice1
Une année est dite bissextile si c'est un multiple de 4, sauf si c'est un multiple de 100. Toutefois, elle est considérée comme bixssextile si c'est un multiple de 400.
        
   ==> Dons si elle est bissextile si elle est multiple de 4 et de 400 et n'est pas multiple de 100.
               Et non, lorsqu'elle est mutliple de 100.

In [65]:
def année(num):
    if num %4==0 or num%400==0 and num%100 !=0: 
        print("l'année est bissextile" )
    else :
        print("elle n'est pas bissextile ")

Cette condition est la même que celle-ci:

In [72]:
def année(num):
    if num %4==0 or (num%400==0 and num%100 !=0): 
        print("l'année est bissextile" )
    else :
        print("elle n'est pas bissextile ")

In [73]:
année(1978)

elle n'est pas bissextile

In [74]:
année(1400)

l'année est bissextile

In [75]:
année(2023)

elle n'est pas bissextile

In [76]:
def année(num):
    if (num %4==0 or num%400==0 )and num%100 !=0: 
        print("l'année est bissextile" )
    else :
        print("elle n'est pas bissextile ")

In [77]:
année(1400)

elle n'est pas bissextile

# Attention!
Ici il met 1400 n'est pas une année bissextile à cause de mes paranthèses.
Ici mes parenthèses disent que : Lorsque la condition que l'année soit multiple de 4 n'est pas vérifiée , il faut voir si elle est multiple de 400.Et maintenant si elle n'est pas multiple de 100. Donc elle est bissextile.

In [79]:
chaine2="Tout mon bonheur"
for elt in chaine2:
    print(elt)

T
o
u
t

m
o
n

b
o
n
h
e
u
r

In [82]:
chaine2="Tout mon bonheur"
for lettre in chaine2:
    if lettre in 'AIUEOY':# les voyelles majuscules 
        print(lettre)
    else:
        print("--")

--
--
--
--
--
--
--
--
--
--
--
--
--
--
--
--

In [87]:
chaine2="ToUt mOn bonhEur"
for lettre in chaine2:
    if lettre in 'AIUEOYaiueoy':# les voyelles majuscules  /& minuscules
        print(lettre)
    else:
        print("--")

--
o
U
--
--
--
O
--
--
--
o
--
--
E
u
--

# Les boucles

In [46]:
def table(nbr):
    a=0
    while a<10:
        print(a+1,"*",nbr,'=',(a+1)*nbr)
        break

In [47]:
table(15)

1 * 15 = 15

In [48]:
table(9)

1 * 9 = 9

In [49]:
def table(nbr):
    a=0
    while a<10:
        print(a,"*",nbr,'=',(a+1)*nbr)
        break

In [50]:
table(3)

0 * 3 = 3

In [54]:
def table(nbr):
    a=0
    while a<10:
        print(a,"*",nbr,'=',(a*nbr))
        break

In [55]:
table(3)

0 * 3 = 0

In [56]:
def table(nbr):
    for a in range(1,10):
        while a<10:
            print(a+1,"*",nbr,'=',(a+1)*nbr)
            break

In [57]:
table(9)

2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81
10 * 9 = 90

In [58]:
table(11)

2 * 11 = 22
3 * 11 = 33
4 * 11 = 44
5 * 11 = 55
6 * 11 = 66
7 * 11 = 77
8 * 11 = 88
9 * 11 = 99
10 * 11 = 110

In [65]:
def table(nbr):
    a=0
    for nbr in range(1,10):
        while a<10:
            print(a+1,"*",nbr,'=',(a+1)*nbr)
            break

In [66]:
table(11)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9

In [72]:
def table(nbr):
    a=12
    for nbr in range(1,10):
        while a>10:
            print(a+1,"*",nbr,'=',(a+1)*nbr)
            break

In [73]:
table(3)

13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117

In [74]:
def table(nbr):
    a=12
    for nbr in range(1,10):
        while a<10:
            print(a+1,"*",nbr,'=',(a+1)*nbr)
            break

In [75]:
table(11)

Ceci ne donnera rien car a>10. Donc il n'exécutera rien tant que la condition n'est pas vérifiée.

In [80]:
def table(nbr):
    a=11
    for nbr in range(1,10):
        while a<10:
            print(a+1,"*",nbr,'=',(a+1)*nbr)
            break
        else :
            print("Opération échouée")
            break

In [81]:
table(5)

Opération échouée

In [82]:
def table(nbr):
    a=11
    for nbr in range(1,10):
        while a>10:
            print(a+1,"*",nbr,'=',(a+1)*nbr)
            break
        else :
            print("Opération échouée")
            break

In [83]:
table(4)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108

In [84]:
def table(nbr, max):
    a=11
    for nbr in range(1,10):
        while a>max:
            print(a+1,"*",nbr,'=',(a+1)*nbr)
            break
        else :
            print("Opération échouée")
            break

In [85]:
table(4,10)

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108

# Les fonctions lambda

In [98]:
f=lambda x:x*x
f(2)

4

In [99]:
f(-12)

144

Ecrire une fonction

In [100]:
g=lambda x,y:x//y
g(100,5)

20

In [115]:
import math as mt
import os 
from math import *
table(2,10)
os.system("pause")

12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108

sh: 1: pause: not found

32512

# TP: tous au ZCasino

Dans ce chapitre, nous allons essayer de faire un petit programme que nous appellerons ZCasino. Il s'agira d'un petit jeu de roulette très simplifié dans lequel vous pourrez miser une certaine somme et gagner ou perdre de l'argent (telle est la fortune, au
casino !). Quand vous n'avez plus d'argent, vous avez perdu.
Notre règle du jeu
Bon, la roulette, c'est très sympathique comme jeu, mais un peu trop compliqué pour un premier TP. Alors, on va simplifier les
règles et je vous présente tout de suite ce que l'on obtient :

  *Le joueur mise sur un numéro compris entre 0 et 49 (50 numéros en tout). En choisissant son numéro, il y dépose la somme qu'il souhaite miser.
  
 *La roulette est constituée de 50 cases allant naturellement de 0 à 49. Les numéros pairs sont de couleur noire, les numéros impairs sont de couleur rouge. Le croupier lance la roulette, lâche la bille et quand la roulette s'arrête, relève le numéro de la case dans laquelle la bille s'est arrêtée. Dans notre programme, nous ne reprendrons pas tous ces détails « matériels »
mais ces explications sont aussi à l'intention de ceux qui ont eu la chance d'éviter les salles de casino jusqu'ici. 
Le numéro sur lequel s'est arrêtée la bille est, naturellement, le numéro gagnant.

 *Si le numéro gagnant est celui sur lequel le joueur a misé (probabilité de 1/50, plutôt faible), le croupier lui remet 3 fois la
somme misée.

 *Sinon, le croupier regarde si le numéro misé par le joueur est de la même couleur que le numéro gagnant (s'ils sont tous les deux pairs ou tous les deux impairs). Si c'est le cas, le croupier lui remet 50 % de la somme misée. 
 *Si ce n'est pas le cas, le joueur perd sa mise.
 
Dans les deux scénarios gagnants vus ci-dessus (le numéro misé et le numéro gagnant sont identiques ou ont la même couleur),
le croupier remet au joueur la somme initialement misée avant d'y ajouter ses gains. Cela veut dire que, dans ces deux scénarios,
le joueur récupère de l'argent. Il n'y a que dans le troisième cas qu'il perd la somme misée. On utilisera pour devise le dollar $ à la
place de l'euro pour des raisons d'encodage sous la console Windows.

In [37]:
import math as mt
import os

In [62]:
def num(game):
    for i in range(0,50):
        if game==NUM :
            print("vous avez gagnez" ,som*3)
            break
        elif (game%2==0 and NUM%2==0)or(game%2!=0 and NUM%2!=0):
            print ("êtes à",game//2)
            break
    else:
            print("vous avez perdu, essayez une fois encore")

In [63]:
NUM=48
som=2000
num(36)

êtes à 18

In [64]:
NUM=19
som=2000
num(19)

vous avez gagnez 6000

In [65]:
NUM=13
som=5000
num(2)

vous avez perdu, essayez une fois encore

# Programmation Orientée Objet