# Transformation des chaînes de caractères en listes: La méthode split

In [3]:
list4= "Good morning class 120"
list4

'Good morning class 120'

In [7]:
list4.split(" ")

['Good', 'morning', 'class', '120']

 Cela revient au même , car la méthode split a une fonctionnalité possède un paramètre par défaut, un code qui représente les espaces, les tabulations et les sauts de ligne.

In [8]:
list4.split()

['Good', 'morning', 'class', '120']

# Transformation de listes en chaînes de caractères: la méthode join

In [17]:
list5=["bonjour", '132', "Anna"]
list5

['bonjour', '132', 'Anna']

In [19]:
" ".join(list5)

'bonjour 132 Anna'

In [20]:
list6=[12,45,20]
list6

[12, 45, 20]

In [21]:
" ".join(list6)

TypeError: sequence item 0: expected str instance, int found

NB: Nous comprenons alors que la méthode join, peermet de transformer une lisste de chaîne de caractères en strings.
 Et non une list des int ou float.

In [42]:
list7=[1,2,3,4,5]

In [38]:
print(list7)

[1, 2, 3, 4, 5]

In [28]:
print(*list7)

1 2 3 4 5

In [33]:
nb *nb for nb in list7

SyntaxError: invalid syntax (2663857073.py, line 1)

Pour respecter le for il faut ettre la condition en [ ] car on veut réafir sur une liste qui donnera une autre liste
c'est une autre utilisation de for.

In [43]:
[nb *nb for nb in list7]

[1, 4, 9, 16, 25]

In [41]:
[nb for nb in list7 if nb%2==0]

[2, 4]

# Les dictionnaires

# Les parenthèses délimitent les tuples, les crochets délimitent les listes et les accolades {} délimitent les dictionnaires.

In [80]:
dico={"name": "Jean dupont", "age": 14,"sex": "M", "level": "Graduated"}
dico

{'name': 'Jean dupont', 'age': 14, 'sex': 'M', 'level': 'Graduated'}

In [81]:
del dico["name"]

In [82]:
dico

{'age': 14, 'sex': 'M', 'level': 'Graduated'}

In [83]:
dico.pop("sex")

'M'

In [84]:
dico

{'age': 14, 'level': 'Graduated'}